.menu-btn {
  display: block;
  border: 0.2rem solid #fff;
  width: 8rem;
  height: 8rem;
  position: relative;
}

.menu-btn {
  transition: 0.5s;
  span {
    position: absolute;
    left: 50%;
    width: 4rem;
    height: 0.2rem;
    margin-top: -0.1rem;
    margin-left: -2rem;
    background-color: #ffffff;
    display: block;
    transition: 0.5s;
  }
  span:first-child {
    top: 44%;
  }
  span:nth-child(2) {
    top: 50%;
  }
  span:last-child {
    top: 56%;
  }
}

.menu-btn-active {
  border: none;
  background-color: #f8c255;
  span:first-child {
    transform: rotate(50deg);
    top: 50%;
  }
  span:nth-child(2) {
    height: 0;
  }
  span:last-child {
    transform: rotate(-50deg);
    top: 50%;
  }
}

.menu-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 12%;
  top: 15%;
}

.menu-nav {
  background-color: #f8c255;
  height: 8rem;
  line-height: 8rem;
  padding-left: 2rem;
  transition: 0.5s;
  transform-origin: right center;
  transform: scaleX(0) translateX(0);
  opacity: 0;
}

.menu-nav-link {
  display: inline-block;
  color: #ffffff;
  margin-right: 2rem;
  font-size: 1rem;
  line-height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.menu-nav-active {
  transform: scaleX(1) translateX(0);
  opacity: 1;
}